<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG carport bestilling</title>
    <link rel="icon" href="/images/fogfavicon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script>
        function fetchCity(zipInput) {
            const zip = zipInput.value;
            const cityField = document.getElementById("city");
            const zipError = document.getElementById("zip-error");

            if (zip.length === 4) {
                fetch(`/city/${zip}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.cityName) {
                            cityField.value = data.cityName;
                            zipError.textContent = "";
                        } else {
                            cityField.value = "";
                            zipError.textContent = "Postnummeret findes ikke i databasen.";
                        }
                    })
                    .catch(error => {
                        console.error("Fejl ved hentning af bynavn:", error);
                        zipError.textContent = "Postnummeret er ikke gyldigt.";
                    });
            } else {
                cityField.value = "";
                zipError.textContent = "";
            }
        }

        function toggleShedFields() {
            const shedToggle = document.getElementById('shedToggle');
            const shedFields = document.getElementById('shedFields');
            if (shedToggle.value === 'with') {
                shedFields.style.display = 'block';
            } else {
                shedFields.style.display = 'none';
            }
        }

        window.addEventListener("DOMContentLoaded", function () {
            toggleShedFields();
        });

        function updateSketch() {
            const form = document.getElementById("carportForm");
            const formData = new FormData(form);

            fetch("/update-sketch", {
                method: "POST",
                body: formData,
            })
                .then(response => response.text())
                .then(svg => {
                    document.querySelector(".carport-svg-topview > div").innerHTML = svg;
                })
                .catch(error => console.error("Error:", error));
        }

    </script>

</head>

<body>
<div class="container">
    <header>
        <div class="container header-content">
            <div class="header-logo">
                <a href="/" th:href="@{/}">
                    <img src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}" alt="Johannes Fog Logo"/>
                </a>
            </div>
            <nav>
                <a href="/">Bestil byg-selv carport</a>
            </nav>
        </div>
    </header>
</div>

<main>
    <div class="container">
        <section class="intro-with-image">
            <div class="intro-text">
                <h1>Lad os tegne din carportdrøm - bestil et tilbud her</h1>
                <p>Med et specialudviklet computerprogram kan vi lynhurtigt beregne en vejledende pris og udskrive en
                    skitsetegning med dine mål på en carport.
                    Når du indsender en anmodning tjekker en af vores dygtige specialister din carport igennem for at se
                    om vi kan forbedre noget. Du vil blive kontaktet så snart som muligt, og indenfor 2 hverdage.

                    Ved bestilling medfølger standardbyggevejledning og en tegning af din carport. Du kan bygge den selv
                    eller vi kan henvise til en dygtig håndværker.</p>
                <br><br>
                <p>Har du spørgsmål? Få hurtigt svar på:
                <p/>
                <p><strong>47 16 08 00</strong></p>
            </div>
            <div class="intro-image">
                <img src="../public/images/carport-index.png" th:src="@{/images/carport-index.png}"
                     alt="Eksempel på carport">
            </div>
        </section>

        <!-- Order Form -->
        <form id="carportForm" th:action="@{/order}" method="post">
            <!-- Carport Section -->
            <div class="form-section">
                <h2>Carport</h2>
                <label>Carport bredde
                    <input type="number" name="carportWidth" placeholder="Angiv bredde i cm" required/>
                </label>
                <label>Carport længde
                    <input type="number" name="carportLength" placeholder="Angiv længde i cm" required/>
                </label>
                <label>Carport højde
                    <input type="number" name="carportHeight" value="230" readonly/>
                </label>
            </div>
            <!--      <label>Tagtype
                      <select th:field="*{roofType}">
                          <option th:each="option : ${roofTypeOptions}" th:value="${option}" th:text="${option}"></option>
                      </select>
                  </label>
                  <label>Tagbeklædning
                      <select th:field="*{roofMaterial}" required>
                          <option th:each="option : ${roofMaterialOptions}" th:value="${option}" th:text="${option}"></option>
                      </select>
                  </label>

                  <label>Taghældning
                      <input type="number" th:field="*{roofSlope}" placeholder="Angiv taghældning i grader" required/>
                  </label>
              -->

            <!-- Shed Section -->
            <div class="form-section">
                <h2>Skur</h2>
                <label>Redskabsrum
                    <select id="shedToggle" name="shedToggle" onchange="toggleShedFields()">
                        <option value="none" selected>Uden redskabsrum</option>
                        <option value="with">Med redskabsrum</option>
                    </select>
                </label>
                <div id="shedFields" class="form-subsection" style="display: none;">
                    <label>Redskabsrum bredde
                        <input type="number" name="shedWidth" placeholder="Angiv bredde i cm"/>
                    </label>
                    <label>Redskabsrum længde
                        <input type="number" name="shedLength" placeholder="Angiv længde i cm"/>
                    </label>
                </div>
            </div>

            <!-- Customer Section -->
            <div class="form-section">
                <h2>Kontaktoplysninger</h2>
                <input type="text" name="name" placeholder="Fornavn og efternavn(e)" required>
                <input type="text" name="address" placeholder="Adresse" required>
                <label>
                    <input type="text" name="zip" placeholder="Postnummer" required oninput="fetchCity(this)">
                    <span id="zip-error" style="color: red;"></span>
                </label>
                <input type="text" id="city" name="city" placeholder="By" readonly required>
                <input type="tel" name="phoneNumber" placeholder="Telefonnummer" required>
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <!-- Sketch Section -->
            <div class="sketch-section">
                <h2>Skitse</h2>
                <button type="button" onclick="updateSketch()">
                    Opdater skitse
                    <img src="../public/images/update_icon.png" th:src="@{/images/update_icon.png}" alt="Ikon"
                         style="height: 20px; width: 20px; vertical-align: middle; margin-left: 8px;">
                </button>
                <h3>Din carport set ovenfra med spær</h3>
                <div class="carport-svg-topview">
                    <div th:utext="${svg}"></div>
                </div>
            </div>

            <div class="price-section">
                <h2>Vejledende pris:</h2>
                <p>
                    <strong th:text="${price != null} ? ${price + ' kr'} : 'Indtast mål for at få din pris'"></strong>
                </p>
                <p>Når du bestiller et tilbud kigger vores specialister med over 25 års erfaring din carport igennem og
                    kontakter dig med et endeligt tilbud som du skal godkende. Dernæst sender vi dig din helt nye
                    carport.</p>
                <button type="submit" name="submitOrder">Bestil tilbud</button>
            </div>
        </form>
    </div>
</main>

<footer>
    <div class="container footer-container">
        <p>Johannes Fog A/S</p>
        <p>Firskovvej 20</p>
        <p>2800 Lyngby</p>
        <p>CVR-nr. 16314439</p>
    </div>
</footer>

</body>
</html>
