<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<main>
    <div class="container">
        <div class="intro-text">
            <h1>Hej <Strong th:text="${name}">Customer Name</Strong></h1>
            <br>
            <h1>Tak for din forespørgsel</h1>
            <p>Vi kontakter dig snarest muligt når vi har kigget din anmodning igennem.</p>
            <br><br>
            <p>Har du spørgsmål? Få hurtigt svar på:
            <p/>
            <p><strong>47 16 08 00</strong></p>
        </div>
    </div>
</main>

<footer>
    <div class="container footer-container">
        <p>Johannes Fog A/S</p>
        <p>Firskovvej 20</p>
        <p>2800 Lyngby</p>
        <p>CVR-nr. 16314439</p>
    </div>
</footer>

</body>
</html>
